 html,
 body {
     margin: 0;
     padding: 0;
 }


 html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
 * {
     box-sizing: border-box;
 }
 .slider {
     width: 100%;
     margin: 100px auto;
     margin-top: -10px;
 }
 .slick-slide {
     margin: 0px 20px;
 }
 .slick-slide img {
     width: 100%;
     height: 550px;
 }
 #btnSearch {
     margin-top: 20px;
 }
 .result-header {
     margin-top: 50px;
     background: #ccc;
     height: 50px;
     padding: 10px;
     margin-bottom: 30px;
 }
 /* Slider style*/
 
 @media (min-width: 768px) and (max-width: 991px) {
     #myCarousel .carousel-inner .item .item-item:last-child {
         display: none;
     }
 }
 @media (max-width: 768px) {
     #mymyCarousel .carousel-inner {
         height: 320px;
     }
 }
 .carousel-inner {
     overflow-y: hidden;
 }
 .carousel-inner .active.left {
     left: -25%;
 }
 .carousel-inner .next {
     left: 25%;
 }
 .carousel-inner .prev {
     left: -25%;
 }
 .carousel-control {
     width: 4%;
 }
 .carousel-control.left,
 .carousel-control.right {
     margin-left: 15px;
     background-image: none;
 }
 .carousel-inner .item-item {
     padding: 0!important;
 }
 button.slick-prev {
     position: relative;
     top: 190px;
     left: -90px;
     background: none!important;
     color: inherit;
     border: none;
     padding: 0!important;
     font: inherit;
     /*border is optional*/
     
     cursor: pointer;
     text-decoration: none;
     content: ' ' !important;
 }
 button.slick-next {
     position: relative;
     top: -164px;
     float: right;
     left: 72px;
     background: none!important;
     color: inherit;
     border: none;
     padding: 0!important;
     font: inherit;
     /*border is optional*/
     
     cursor: pointer;
     text-decoration: none;
 }
 button.slick-next:before {
     font-family: 'FontAwesome';
     font-size: 20px;
     color: red !important;
     content: '\f054';
 }
 button.slick-prev:before {
     font-family: 'FontAwesome';
     font-size: 20px;
     color: red !important;
     content: '\f053';
 }
 ul.slick-dots li {
     display: inline-block !important;
 }
 .card {
     box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
     transition: 0.3s;
     border-radius: 5px;
     height: 250px !important;
     padding-top: 20px;
     margin-top: 60px !important;
     margin-bottom: 30px !important;
 }
 .card:hover {
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
 }
 #message-no-result {
     display: none;
 }
 #weather {
     display: none;
 }
 #map {
        height: 400px;
        width: 100%;
        visibility: hidden;
 }